// FONT LOADED
@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairNormal';
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: lighter;
    font-display: swap;
}
// COLOR VARIABLE
$blue: #33A8E4;
$yellow: #F9B33F;

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 46px;
}
h2 {
    font-size: 36px;
}
.btn {
    background-color: $blue;
    color: white;
    font-family: MontserratBold;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-decoration: none;
}
.btn-white {
    color: $blue;
    background: white;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 95%; //ne vidi se bas cela slika
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}
.nav-list {
    list-style: none;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Montserrat;
    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
}
.hero-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-intro {
    width: 100%;
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.hero-img {
    width: 100%;
    height: 85vh; //front slika ide na 85%
}
.hero-text {
    position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    h1 {
        font-family: MontserratRegular;
        color: white;
    }
    p {
        max-width: 400px;
        color: white;
        text-align: center;
        font-family: PlayfairNormal;
        margin-top: 30px;;
    }
}
.hero-search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    margin-top: -70px;
    z-index: 99;
    background-color: white;
    position: relative;
}
.search-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 10px;
    p {
        font-family: PlayfairNormal;
        font-size: 16px;
    }
    border-right: 1px solid black;
    padding: 0 15px;
    &:nth-last-child(2){
        border-right: 0px;
    }
    select {
        width: 50px;
        height: 25px;
        margin-top: 10px;;
        color: #33A8E4;
    }
    
}
.input-group {
    min-width: 200px;
    display: flex;
    align-items: center; //flex+stavi sve child elemente u 1 red pa u centar
    justify-content: space-evenly;
    margin-top: 10px;
    input {
        border:none;
        border-bottom: 1px solid black;
        outline: none;
        font-size: 16px;
    }
    .input-day {
        max-width: 35px;
    }
    .input-year {
        max-width: 70px;
    }
    .input-dot {
        font-size: 24px;
        font-weight: bold;
        padding: 0 5px;
    }
}
.select-group {
    display: flex;
    flex-direction: column;
    align-items: center; //kad su poredjani u kolone onda align items gleda horizontalno svaki
    justify-content: space-evenly;
    select {
        width: 50px;
        height: 25px;
        margin-top: 10px;;
        color: #33A8E4;
    }
}
.search-mag {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.mag {
    width: 50px;
    height: 45px;
    margin-left: 10px;
}
.search-phone{
    position: absolute; //absolute in its relative parent i.e. rigth coordinate:
    right: -170px;
    background-color:rgba(51,168,228, 0.7);
    border-radius: 10px;
    p {
        font-size: 10px;
        color: white;
        text-align: center;
    }
}
.phone-card{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    .phone-text {
        margin-left: 5px;
    }
}
.phonepart {
    position: absolute;
    right: -22px;
}
.separator {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.reservation-text {
    width: 40%;
    padding: 0px 15px;
}
.reservation-image {
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
   
}
.reservation-title{
    max-width: 350px;
    font-family: Montserrat;
    strong {
        color: $blue;
    }
}
.blue-line {
    width: 174px;
    height: 2px;
    margin: 15px 0px 20px 0px;
    background-color: $blue;
}
.reservation-desc{
    font-size: 16px;
    font-family: PlayfairNormal;
}
.reservation-info {
    position: absolute;
    align-items: center;
    width: 430px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.90);
    right: 0px;
    margin-right: 20px;
    h2 {
        color: $blue;
        border-bottom: 2px solid $blue;
        display: table;
        font-family: MontserratRegular;
        margin: 30px 0px 0px 20px;
    }
    p {
        font-family: PlayfairNormal;
        font-size: 16px;
        color: white;
        padding: 15px 50px 20px 20px;
    } 
}
.res-form {
    margin: 20px 0px 0px 20px;
    .input-block {
        select {
            border: none;
            outline: none;
            font-family: MontserratRegular;
            font-size: 16px;
            margin-right: 20px;
            background-color: rgba(0, 0, 0, 0.90);
            color: white;
            height: 35px;
            min-width: 130px;
            padding-left: 40px;
            border: 1px solid white;
            background-image: url('../images/users-icon.png');
            background-repeat: no-repeat;
            background-position: 10px center;
        }
        .user-data {
            border: none;
            outline: none;
            font-family: MontserratRegular;
            font-size: 16px;
            background-color: rgba(0, 0, 0, 0.90);
            color: white;
            height: 35px;
            min-width: 130px;
            padding-left: 40px;
            border: 1px solid white;
            background-image: url('../images/calendar-white.png');
            background-repeat: no-repeat;
            background-position: 10px center;
        }
    }
    input[type="submit"]{
        margin: 20px 0px;
    }
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; //parent za line-text div
    padding: 50px 0px;
}
.service-box {
    max-width: 350px;
    box-shadow: 2px 2px 3px #33A8E4; //kvadrant -x,-y za senku, 3param je debljina rasprsivanja
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 80px 20px;
    h2 {
        font-size: 32px;
        font-family: MontserratBold;
        margin: 20px 0px 40px 0px;
    }
    p{
        font-family: PlayfairNormal;
        font-size: 16px;
    }
    .btn {
        margin: 50px 0;
        width: 190px;
        text-align: center;
    }
}
.service-box:nth-child(3) {
    margin: 0px 60px;
    background: $blue;
    box-shadow: none;
    h2, p {
        color: white;
    }
    margin-top: -45px;
}
.line-text {
    position: absolute;
    left: -360px;
    transform: rotate(-90deg);
    font-family: PlayfairNormal;
    font-size: 32px;
    display: flex;
    align-items: center;
    p {
        margin: 0px 12px;
    }
    span {
        color: $blue;
    }
    .one-line{
        width: 170px;
        height: 2px;
        background: $blue;
    }
}
.meet-us {
    width: 100%;
    background-image: url('../images/meet-us-room.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
}

.meet-left {
    max-width: 500px;
    color: white;
    h2{
        font-family: MontserratBold;
        font-size: 36px;
        span {
            color: $blue;
        }
        margin-bottom: 20px;
    }
    p {
        font-family: PlayfairNormal;
        font-size: 16px;
    }
}
.meet-right {
    position: relative;
    .meet-logo {
        position: absolute;
        right: 50px;
        top: 50px;
        max-width: 150px;
    }
}
.meet-title {
    position: relative;
    img {
        position: absolute;
        top: -60px;
        left: 50px;
    }
}
