// FONT LOADED
@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairNormal';
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: lighter;
    font-display: swap;
}
// COLOR VARIABLE
$blue: #33A8E4;
$yellow: #F9B33F;

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-size: 46px;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 95%; //ne vidi se bas cela slika
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}
.nav-list {
    list-style: none;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Montserrat;
    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
}
.hero-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-intro {
    width: 100%;
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.hero-img {
    width: 100%;
    height: 85vh; //front slika ide na 85%
}
.hero-text {
    position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    h1 {
        font-family: MontserratRegular;
        color: white;
    }
    p {
        max-width: 400px;
        color: white;
        text-align: center;
        font-family: PlayfairNormal;
        margin-top: 30px;;
    }
}
.hero-search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    margin-top: -70px;
    z-index: 99;
    background-color: white;
    position: relative;
}
.search-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 10px;
    p {
        font-family: PlayfairNormal;
        font-size: 16px;
    }
    border-right: 1px solid black;
    padding: 0 15px;
    &:nth-last-child(2){
        border-right: 0px;
    }
    select {
        width: 50px;
        height: 25px;
        margin-top: 10px;;
        color: #33A8E4;
    }
    
}
.input-group {
    min-width: 200px;
    display: flex;
    align-items: center; //flex+stavi sve child elemente u 1 red pa u centar
    justify-content: space-evenly;
    margin-top: 10px;
    input {
        border:none;
        border-bottom: 1px solid black;
        outline: none;
        font-size: 16px;
    }
    .input-day {
        max-width: 35px;
    }
    .input-year {
        max-width: 70px;
    }
    .input-dot {
        font-size: 24px;
        font-weight: bold;
        padding: 0 5px;
    }
}
.select-group {
    display: flex;
    flex-direction: column;
    align-items: center; //kad su poredjani u kolone onda align items gleda horizontalno svaki
    justify-content: space-evenly;
    select {
        width: 50px;
        height: 25px;
        margin-top: 10px;;
        color: #33A8E4;
    }
}
.search-mag {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.mag {
    width: 50px;
    height: 45px;
    margin-left: 10px;
}
.search-phone{
    position: absolute; //absolute in its relative parent i.e. rigth coordinate:
    right: -170px;
    background-color:rgba(51,168,228, 0.7);
    border-radius: 10px;
    p {
        font-size: 10px;
        color: white;
        text-align: center;
    }
}
.phone-card{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    .phone-text {
        margin-left: 5px;
    }
}
.phonepart {
    position: absolute;
    right: -22px;
}